a:hover {
  color: #243ee9;
}
input:focus, textarea:focus {
  border-color: #243ee9 !important;
}
.header-top {
  background: #243ee9;
}
.social-mini a {
  color: rgba(255,255,255,0.7);
}
.navbar-nav > li > a:hover {
  color: #243ee9;
}
.navbar-nav > li.active > a {
  color: #243ee9;
}
.cd-headline.clip span {
  color: #3f51b5;
}
.heading > h2::before {
  background: #243ee9 none repeat scroll 0 0;
}
.heading > h2::after {
  background: #243ee9 none repeat scroll 0 0;
}
.heading::before {
  background: #243ee9 none repeat scroll 0 0;
}
.heading::after {
  background: #243ee9 none repeat scroll 0 0;
}
.filter-chip.active {
  background: #243ee9 none repeat scroll 0 0;
}
.product-card-category {
  color: #243ee9;
}
.banner-text-btn > a {
  background: #243ee9;
}
.footer-social-icons > a {
  background: #243ee9 none repeat scroll 0 0;
}
#scrollUp {
  background: #243ee9 none repeat scroll 0 0;
}

